* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
  }
  
  html {
    background: url(../Images/mainBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Carme', 'sans-serif';
    text-transform: uppercase;
    overflow: auto;
    color: white;
  }
  ::-webkit-scrollbar 
{
    width: 0px;  /* Remove scrollbar space */
}