/*Variables*/
$maincolor:  rgb(5, 224, 228);
$blackcolor: black;
$whitecolor: white;
$transform: translate(-50%);
$transition: all 0.4s ease-in-out;
/*Functions*/
@mixin setPos($position,$top, $right, $bottom, $left)
{
   position: $position;
   top: $top;
   right: $right;
   bottom: $bottom;
   left: $left; 
}
@mixin flexSpace()
{
    display: flex;
    justify-content: space-around;
}
@mixin flexCenter()
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Global Styles*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    background: url(../Images/mainBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Carme', 'sans-serif';
    text-transform: uppercase;
    overflow: auto;
    color: white;
}
::-webkit-scrollbar 
{
    width: 0px;  /* Remove scrollbar space */
}

/*Navigation Bar*/
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
.nav-links
{
    @include flexSpace();
    width: 60%;
    list-style: none; 
}
    a
    {
        text-decoration: none;
        font-weight: 900;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        color: $whitecolor;
        &:hover
        {
            color: $maincolor;
        }
    }
    a.active
    {
        color: $maincolor; 
    }

/*Language Select*/
#language
{
    padding: 10px;
    width: 60px;
    cursor: pointer;
    color: $blackcolor;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background-color: $maincolor;
    -webkit-appearance: none;
}

/*The Logo*/
.myLogo
{
    img
    {
        @include setPos($position:absolute,$top:20%, $right:50%, $left:50%, $bottom: null);
        transform: $transform;
        width: 400px;
    }
}

/*Become Driverbtn*/
.driverBtn
{
    @include setPos($position:absolute,$top:50%,$right:null,$left:50%, $bottom: null);
    transform: $transform;
    background-color: $maincolor;
    padding: 20px;
    width: 300px;
    border-radius: 25px;
    border: none;

    a
    {
        color: $whitecolor;
        text-decoration: none;
        font-weight: 900;
        transition: $transition;
        &:hover
        {
            color: $blackcolor;
        }
    }
}
.driverBtn.active
{ 
    animation: shake 3s infinite;
}
@keyframes shake
{
    50%{transform: translate(-50px)};
    100%{transform: translateX(50px)}; 
}

/*The Content*/
.content
{
    @include setPos($position:absolute,$top:null, $right:null, $bottom:0,$left:null);
    background-color: rgba(5, 224, 228,0.623);
    width: 100%;
    padding: 40px 0;

    h1
    {
        font-size: 50px;
        letter-spacing: 4px;
    }
    .container
    {
        width: 80%;
        margin: 0 auto;
    }
    article
    {
        line-height: 30px;
        font-size: 25px;
        letter-spacing: 5px;
    }
}
main
{
    @include setPos($position:relative,$top:null, $right:50%,$bottom:null, $left:50%);
    transform: $transform;
    color: $whitecolor;
    text-align: center;
    font-weight: 900;
}
.line
{
    @include setPos($position:relative,$top:null,$right:50%,$bottom:null, $left:50%);
    transform: $transform; 
    background-color: $whitecolor;
    width: 40px;
    height: 4px;
    margin: 20px 0px 20px 0px;
}

/*The Footer*/
.footer
{
    @include setPos($position:absolute,$top:null, $right:null, $bottom:-250px, $left:null);
    @include flexCenter();
    color: $whitecolor;
    background-color: $blackcolor;
    transition: $transition;
    opacity: 0.9;
    padding-top: 10px;
    height: 250px;
    width: 100%;
}
.logos
{
    width: 40%;
    text-align: center;

    img
    {
        width: 200px;
    }
    .links
    {
        @include flexCenter();

        img
        {
            width: 50px;
            margin-top: 10px;
            padding-right: 10px;
        }
    }
}
h4
{
    color: $maincolor;
}

/*Scalability*/
/*HEIGHT*/
@media screen and (max-height: 950px)
{  
    .driverBtn
    {
        top: 50%;
    }
    main .line
    {
        bottom: 0;
    }
    article
    {
        opacity: 0;
    }
    .content
    {
        transition: $transition;
        overflow: hidden;
        height: 100px;
        cursor: pointer;
        padding-top: 0px;
    }
    .content.swipeUp
    {
        transition: $transition;
        align-items: center;
        position: absolute;
        height: 100%;
        bottom: 0;
    }
    .content.swipeUp main
    {
        width: 50%;
    }
    .content.swipeUp article
    {
        opacity: 1;
    }
}

/*WIDTH --Ipad--*/
@media screen and (max-width: 1024px)
{
    .nav-links
    {
        width: 70%;
    }
}
/*WIDTH --Phones--*/
@media screen and (max-width: 768px)
{

/*Navigation Bar*/
nav
{ 
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    opacity: 0;
}
.nav-links
{
    flex-direction: column;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    position: relative;

    li
    {
        margin-top: 50px;

        a:hover
        {
            color: $maincolor;
        }
    }
}
#language
{
    position: absolute;
    top: 3%;
}
.active
{
    transition: $transition;
    opacity: 0.8;
}

/*Menu Button*/
.menu-btn
{
    @include flexCenter();
    @include setPos($position:absolute,$top:null, $right:20px, $bottom:-250px, $left:null);
    transition: $transition;
    cursor: pointer;
    min-height: 1vh;
    width: 80px;
    height: 80px;
}
.menu-btn-line
{
    background-color: $maincolor;
    transition: $transition;
    width: 30px;
    height: 3px;
    margin: 8px;
    border-radius: 5px;
}
.menu-btn-line::before,
.menu-btn-line::after
{
    background-color: $maincolor;
    transition: $transition;
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 4px;
}
.menu-btn-line::before
{
    transform: translateY(-10px);
}
.menu-btn-line::after
{
    transform: translateY(10px);
}
.menu-btn.open .menu-btn-line
{
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn-line::before
{
    transform: rotate(45deg) translate(35px,-35px);
} 
.menu-btn.open .menu-btn-line::after
{
    transform: rotate(-45deg) translate(35px, 35px);
}

/*The Content*/
.content
{
    overflow: hidden;
}
main
{
    width: 100%;
    text-align: center;
}
.content h1
{
    font-size: 20px;
    letter-spacing: 2px;
}
.content article
{
    line-height: 19px;
    font-size: 14px;
    letter-spacing: 3px;
}

/*The Logo*/
.myLogo img
{
    transition: $transition;
    width: 300px;
}

/*The Footer*/
.footer
{
    font-size: 14px;
}
.logos img
{
    width: 130px;
}
.links img
{
    width: 40px;
}
}